@charset "UTF-8";
/* CSS Document */

/* Styles for browser window is widder than 800px */
* {
  box-sizing: border-box;
}



	  .flex-container { 
	  width: 80%;
	  display: flex;
	  flex-wrap: wrap;
	  text-align: left;
	  background-color: #DEDEDB;
	  margin: 0 auto;}

	  
	  .flex-item-left{ 
	  flex: 40%;
	  padding-right: 30px;
	  }
	  
	   .flex-item-center{ 
	  flex: 30%;
	  }
	  
	  
	  .flex-item-right{ 
	  flex: 30%;
	  }
	  
	  
	    .footer-bottom { 
	  display: flex;
	  flex: 100%;
	  text-align: left;
	  background-color: #FFFFFF;
	  margin-left: 140px;
	  font-weight: bold;
	  }

li{ 
list-style: none;
color:#707070;
margin-left: -40px;
padding-bottom: 10px;}

p { color: #707070;
font-size: 16px;
}


h3 {
color: #707070;
	font-size: 20px;
	font-weight: normal;
}

body {
	font-family: 'Open Sans';
	
}

h4 { 
color: #707070;
}

.box {
	width: 100%;
	background-color: #DEDEDB;
}

/* Start: tell browser to do the followings when browser window is 800px or smaller */
  @media only screen and (max-width: 800px) {
	  .flex-item-center, .flex-item-left, .felx-item-right {
		  flex: 100%;
	  }

	  
} /* don't forget to close the styles for 800px and smaller */
